@model IEnumerable<MarvelAdmin.Models.CategoryVM>
@{
    ViewBag.Title = "Home Page";
}
<div class="w_content">
    @if (Model != null)
    {

<!-- grids_of_4 -->
foreach (MarvelAdmin.Models.CategoryVM cat in Model)
{
    <div class="women">
        <a href="#"><h4>@cat.Name</h4></a>
        <ul class="w_nav">
            <li><a href="/Home/Category/@cat.Id">Edit</a></li> |
            <li><a href="/Home/Items?catId=@cat.Id">Add Items </a></li> |
            <li><a href="/Home/Category/Delete/@cat.Id">Delete </a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="grids_of_4">
        @Html.Action("ItemListing", "Home", new { id = @cat.Id })
        <div class="clearfix"></div>
    </div>
}
<!-- end grids_of_4 -->
    }
	</div>
<div class="clearfix"></div>