@{
    ViewBag.Title = "Home";
}

@Html.Action("Slider", "Home")
<div class="block1">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <div class="rel">
                    <p>
                        Add SOme text hererererer<br/>sdaf asdf asdfvasdfvasdf vasfas
                        fas
                        vfas
                        vfads
                        fv
                        adsfvads
                        fvadsfvasdfafafvasfasfd
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================CONTENT=================================-->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="clear"></div>
            @Html.Action("CategoriesList", "Home")
            <div class="clear"></div>
            <div class="grid_4">
                <h3 class="mb__0">Equipment</h3>
                <div class="block2">
                    <div class="block2_title color1">Camera</div>
                    <ul class="list">
                        <li><a href="#">Lorem ipsum dolorertolo </a></li>
                        <li><a href="#">Git met consecteturert </a></li>
                        <li><a href="#">Odipiscing elit mollis erat</a></li>
                    </ul>
                </div>
                <div class="block2">
                    <div class="block2_title color1">Lighting</div>
                    <ul class="list">
                        <li><a href="#">Lorem ipsum dolorilomo </a></li>
                        <li><a href="#">Aconsectetur teroloter </a></li>
                        <li><a href="#">Sdipiscing elitmollis erat </a></li>
                    </ul>
                </div>
            </div>
            <div class="grid_4">
                <h3>About me</h3>
                <p>Need more information about this thingummy? Follow the <span class="color1"><a href="http://blog.templatemonster.com/free-website-templates/" rel="nofollow">link</a></span>.</p>
                <p>Choose <span class="color1"><a href="http://www.templatemonster.com/properties/topic/design-photography/" rel="nofollow">designs</a></span> of this kind at TemplateMonster’s website.</p>
                Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh odio ut velit. Proin pharetra luctus diam, a scelerisque eros convallis accumsanInteger convallis orci vel mi laoreet, at ornare lorem consequatasellus erat nisl<br>
                <a href="#" class="btn bt__2">Read More</a>
            </div>
            <div class="grid_4">
                <h3>Publications</h3>
                <ul class="list1">
                    <li>
                        <div class="list_count">1</div>
                        <div class="extra_wrapper">
                            <div class="list1_title color2"><a href="#">“Lorem ipsum dolor sit met </a></div>In mollis erat mattis neque facilisis, sit amet ultricies erat rutrumras
                            <a href="#" class="color1 td_und">More</a>
                        </div>
                    </li>
                    <li>
                        <div class="list_count">2</div>
                        <div class="extra_wrapper">
                            <div class="list1_title color2"><a href="#">“Dorem ipsum dolor sit met </a></div>In mollis erat mattis neque facilisis, sit amet ultricies erat rutrumras
                            <a href="#" class="color1 td_und">More</a>
                        </div>
                    </li>
                    <li>
                        <div class="list_count">3</div>
                        <div class="extra_wrapper">
                            <div class="list1_title color2"><a href="#">“Kerem ipsum dolor sit met </a></div>In mollis erat mattis neque facilisis, sit amet ultricies erat rutrumras
                            <a href="#" class="color1 td_und">More</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="grid_12">
                <h3 class="head1">Items</h3>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    @Html.Action("GetAllItems", "Home")
</section>
<section class="bottom_block">
    <div class="container">
        <div class="row">
            <div class="grid_5">
                <div class="bot_title">
                    <span class="fa fa-envelope-o"></span>Subscribe to My Newsletter
                </div>
            </div>
            <div class="grid_7">
                <form id="newsletter">
                    <div class="row">
                        <div class="grid_4">
                            <div class="rel">
                                <div class="success" style="display: none;">Your subscrsibe request has been sent!</div>
                                <label class="email">
                                    <input type="email" value="Your Email Address Here">
                                    <span class="error">*This is not a valid email address.</span>
                                    <span class="clear"></span>
                                </label>
                            </div>
                        </div>
                        <div class="grid_3">
                            <a href="#" class="btn bt__2" data-type="submit">Submit</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery('#camera_wrap').camera({
                loader: false,
                pagination: false,
                minHeight: '200',
                thumbnails: false,
                height: '39,0625%',
                caption: true,
                navigation: true,
                fx: 'mosaic'
            });
            var owl = $("#owl");
            owl.owlCarousel({
                items: 7, //10 items above 1000px browser width
                itemsDesktop: [995, 5], //5 items between 1000px and 901px
                itemsDesktopSmall: [767, 3], // betweem 900px and 601px
                itemsTablet: [700, 3], //2 items between 600 and 0
                itemsMobile: [479, 2], // itemsMobile disabled - inherit from itemsTablet option
                navigation: true,
            });
            $().UItoTop({ easingType: 'easeOutQuart' });
            $('#stuck_container').tmStickUp({});
            $('.gallery a.gal_item').touchTouch();
        });
    </script>
}
